<div class="card-header bg-info sombra" id="scroll">
  <h5>Personaje</h5>
</div>

<div class="row mt-4">

  <div class="col-md-7 centrar">


    <!-- Card para mostrar los detalles de cada personaje -->
    <div *ngIf="detalles" class="card mb-3 sombra" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{detalles.image}}" class="img-fluid rounded-start img-thumbnail mb-1" alt="...">
        </div>
        <div class="col">
          <div class="card-body">
            <h5 class="card-title">{{detalles.name}}</h5>
            <h6 class="card-text"><strong>Especie: </strong>{{detalles.species}}</h6>
            <h6 *ngIf="detalles.type" class="card-text"><strong>Tipo: </strong>{{detalles.type}}</h6>
            <h6 *ngIf="!detalles.type" class="card-text"><strong>Tipo: </strong>No especificado</h6>
            <h6 class="card-text"><strong>Género: </strong>{{detalles.gender}}</h6>
            <h6 class="card-text"><strong>Origen: </strong>{{detalles.origin.name}}</h6>
            <h6 class="card-text"><strong>Localización: </strong>{{detalles.location.name}}</h6>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>

<div class="row">

  <div class="col-md-7 centrar">
    <!-- Card para mostrar todos los capitulos en los que aparece un personaje -->
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">

        <div class="col">
          <div class="card-body sombra">
            <h5 class="card-title">Episodios</h5>
            <!-- Se valida que haya más de un elemento en el array all_episodios -->
            <ul *ngIf="tam!=7" class="list-group">
              <a type="button" data-bs-toggle="modal" data-bs-target="#modalEpisodio">
                <li *ngFor="let episodio of all_episodios" class="list-group-item alert alert-primary fondo sombra"
                  (click)="cargar_episodio(episodio)">
                  {{episodio.name}}
                </li>
              </a>
            </ul>
            <!-- Se valida que haya un solo elemento en el array all_episodios -->
            <ul *ngIf="tam==7" class="list-group">

              <a type="button" data-bs-toggle="modal" data-bs-target="#modalEpisodio">
                <li class="list-group-item alert alert-primary fondo sombra">
                  {{name}}
                </li>
              </a>

            </ul>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- Inicio modal detalles episodio -->

<div class="modal fade" id="modalEpisodio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title text-white" id="exampleModalLabel">Detalle episodio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- Se valida por medio de name de que el array all_episodios tenga más de un elemento -->
        <ul *ngIf="!name" class="list-group">
          <li class="list-group-item sombra">
            <p *ngIf="episodio"><strong>Nombre: </strong>{{episodio.name}}</p>
            <p *ngIf="episodio"><strong>Fecha lanzamiento: </strong>{{episodio.air_date}}</p>
            <p *ngIf="episodio"><strong>Episode: </strong>{{episodio.episode}}</p>
          </li>
        </ul>
        <!-- Se valida por medio de name de que el array all_episodios sólo tenga un elemento -->
        <ul *ngIf="name" class="list-group">
          <li class="list-group-item sombra">
            <p><strong>Nombre: </strong>{{name}}</p>
            <p><strong>Fecha lanzamiento: </strong>{{air_date}}</p>
            <p><strong>Episode: </strong>{{episode}}</p>
          </li>
        </ul>

      </div>

    </div>
  </div>
</div>

<!-- Final modal detalles episodio -->

<!-- Botón para top scroll -->
<div class="top-scroll">
  <button class="btn btn-success sombra" (click)="scroll_top()">
    <i class="fa-solid fa-angles-up"></i>
  </button>
</div>